In [1]:
import pandas as pd
import os

In [5]:
data_folder = '../data'
excel_file_name = 'online_retail_dataset.xlsx' # The actual Excel file name

In [6]:
# Construct the full path to the Excel file
excel_file_path = os.path.join(data_folder, excel_file_name)

print(f"Attempting to load data from Excel file: {excel_file_path}")

Attempting to load data from Excel file: ../data\online_retail_dataset.xlsx

In [7]:
# Load the datasets from specific sheets within the Excel file
df_2009_2010 = pd.read_excel(excel_file_path, sheet_name='Year 2009-2010')
df_2010_2011 = pd.read_excel(excel_file_path, sheet_name='Year 2010-2011')
print("\n--- Datasets Loaded Successfully from Excel Sheets ---")

--- Datasets Loaded Successfully from Excel Sheets ---

In [8]:
# Display initial information for the 2009-2010 dataset
print("\n--- 2009-2010 Dataset Overview ---")
print(f"Shape: {df_2009_2010.shape}")
print("Head (first 5 rows):")
print(df_2009_2010.head())
print("\nInfo (data types and non-null counts):")
df_2009_2010.info()
print("\nMissing Values (count per column):")
print(df_2009_2010.isnull().sum())

--- 2009-2010 Dataset Overview ---
Shape: (525461, 8)
Head (first 5 rows):
  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

          InvoiceDate  Price  Customer ID         Country
0 2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3 2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4 2009-12-01 07:45:00   1.25      13085.0  United Kingdom

Info (data types and non-null counts):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

Missing Values (count per column):
Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [9]:
 # Display initial information for the 2010-2011 dataset
print("\n--- 2010-2011 Dataset Overview ---")
print(f"Shape: {df_2010_2011.shape}")
print("Head (first 5 rows):")
print(df_2010_2011.head())
print("\nInfo (data types and non-null counts):")
df_2010_2011.info()
print("\nMissing Values (count per column):")
print(df_2010_2011.isnull().sum())

--- 2010-2011 Dataset Overview ---
Shape: (541910, 8)
Head (first 5 rows):
  Invoice StockCode                          Description  Quantity  \
0  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1  536365     71053                  WHITE METAL LANTERN         6
2  536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  Price  Customer ID         Country
0 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4 2010-12-01 08:26:00   3.39      17850.0  United Kingdom

Info (data types and non-null counts):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  datetime64[ns]
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

Missing Values (count per column):
Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [10]:
# Combine both datasets into a single DataFrame for unified processing
df_combined = pd.concat([df_2009_2010, df_2010_2011], ignore_index=True)
print("\n--- Combined Dataset Overview ---")
print(f"Shape: {df_combined.shape}")
print("Head (first 5 rows of combined data):")
print(df_combined.head())
print("\nInfo (data types and non-null counts for combined data):")
df_combined.info()
print("\nMissing Values (count per column for combined data):")
print(df_combined.isnull().sum())

--- Combined Dataset Overview ---
Shape: (1067371, 8)
Head (first 5 rows of combined data):
  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

          InvoiceDate  Price  Customer ID         Country
0 2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3 2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4 2009-12-01 07:45:00   1.25      13085.0  United Kingdom

Info (data types and non-null counts for combined data):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

Missing Values (count per column for combined data):
Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64